body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
    text-align: center;
}

header {
    background: linear-gradient(to bottom, red, black);
    padding: 40px;
}

h1 {
    font-size: 36px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #fff;
    color: #ff0000;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}
.btn2 {
    display: inline-block;
    padding: 5px 10px;
    margin-top: 10px;
    background-color: #fff;
    color: #ff0000;
    text-decoration: none;
    font-weight: bold;
    border-radius: 2px;
}

.btn:hover {
    background-color: #ddd;
}

section {
    padding: 50px 20px;
}

footer {
    background-color: #111;
    padding: 20px;
    font-size: 14px;
}

.red-section {
    background: linear-gradient(to bottom, black, red); /* Sfumatura da rosso a nero */
    color: white; /* Testo bianco */
    padding: 50px 20px;
    text-align: center;
}

.red-section h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

.red-section p {
    font-size: 1.2em;
}

.red-section .btn {
    background-color: white; /* Pulsante bianco */
    color: red; /* Testo rosso */
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    display: inline-block;
    margin-top: 15px;
}

.red-section .btn:hover {
    background-color: black; /* Cambia colore al passaggio del mouse */
    color: white;
}


.red-section2 {
    background-color: red !important;
    color: white; /* Testo bianco */
    padding: 50px 20px;
    text-align: center;
}


.red-section2 h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

.red-section2 p {
    font-size: 1.2em;
}

.red-section2 .btn {
    background-color: white; /* Pulsante bianco */
    color: red; /* Testo rosso */
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    display: inline-block;
    margin-top: 15px;
}

.red-section2 .btn:hover {
    background-color: black; /* Cambia colore al passaggio del mouse */
    color: white;
}

